.logged-out-container {
    width: 25rem;
    /* height: 100vh; */
    /* height: calc(100vh - 25.3rem); */
    margin: 0 auto;
    font-size: var(--xlg);
    padding: 4rem 0;
    display: flex;
    align-items: center;
    color: var(--white);
}

.logged-out-container article {
    width: 100%;
}

/* .company-logo-container img {
    width: 100%;
    height: auto;
} */

.company-logo-container h1 {
    text-align: center;
}

.user-login-container p {
    margin-top: 1rem;
    align-content: center;
    color: var(--yellow-rig);
}

.user-login-container input {
    width: 100%;
    height: 4rem;
    border-radius: 0.5rem;
    padding: 0.2rem;
    font-size: var(--md);
}

.input-password-container {
    position: relative;
}

.bi-eye {
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    left: 24.5rem;
}

.bi-eye-slash {
    display: none;
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    left: 24.5rem;
}

.user-login-container .login-btn-container {
    text-align: center;
    margin-top: 4rem;
}

.login-btn-container button {
    width: 10rem;
    height: 4rem;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--yellow-rig);
    color: var(--white);
    background-color: var(--dark-background);
}

.login-btn-container button:active {
    border: 0.2rem solid var(--yellow-rig);
    color: var(--black);
    background-color: var(--yellow-rig);
} 

@media (min-width: 700px) {
    .logged-out-container {
        width: 30rem;
    }

    .bi-eye {
        left: 30rem;
    }
    
    .bi-eye-slash {
        left: 30rem;
    }

    .login-btn-container button {
        width: 13rem;
        height: 5rem;
    }
}