* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Bai Jamjuree', sans-serif;
}

:root {
  --white: #FFFFFF;
  --black: #000000;
  --dark-background: #121212;
  --yellow-rig: #f9eb4a;
  --light-gray: rgb(188, 188, 188);
  --ss: 1.2rem;
  --sm: 1.4rem;
  --md: 1.5rem;
  --lg: 1.8rem;
  --xlg: 2.2rem;
}

main {
  min-height: 100vh;
  font-size: var(--md);
  background-color: var(--dark-background);
  padding: 4rem 0 4rem;
}
