.header {
    background-color: var(--dark-background);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}

.personal-logo-container {
    text-align: center;
    align-content: center;
}

.logo-container {
    text-align: center;
    align-content: center;
}

.personal-logo-container img {
    width: 13rem;
    height: auto;
}

.logo-container img {
    width: 13rem;
    height: auto;
}

.buttons__container {
    display: none;
}

.buttons__container button {
    width: 10rem;
    height: 4rem;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--yellow-rig);
    color: var(--white);
    background-color: var(--dark-background);
}

.buttons__container button:active {
    border: 0.2rem solid var(--yellow-rig);
    color: var(--black);
    background-color: var(--yellow-rig);
} 


@media (min-width: 1060px) {
    .header {
        grid-template-columns: 1fr 3fr 1fr;
    }

    .buttons__container {
        display: block;
        text-align: center;
        align-content: center;
        grid-column: 3 / 4;
    }

    .buttons__container button {
        width: 13rem;
        height: 5rem;
    }
}