#events_container, #create-event-btn__container, .new-event__modal {
    width: 28rem;
    margin: 0 auto;
    padding-top: 4rem;
    border-top: 0.15rem solid var(--light-gray);
}

#events_container article:not(:first-child) {
    margin-top: 4rem;
}

#events_container article, .new-event__modal {
    color: var(--white);
    border: 0.3rem solid var(--yellow-rig);
    border-radius: 0.5rem;
    padding: 1rem;
    width: 25rem;
    margin: 0 auto;
}

#create-event-btn__container {
    text-align: center;
    margin-top: 4rem;
}

#cancel-event-btn__container {
    margin-top: 4rem;
}

#create_event_btn {
    width: 20rem;
    height: 5rem;
    font-size: var(--md);
    font-weight: bold;
    background-color: var(--yellow-rig);
    border-radius: 1rem;
    cursor: pointer;
}

#create_event_btn:active {
    background-color: var(--dark-background);
    border: 0.3rem solid var(--yellow-rig);
    color: var(--white);
}

#cancel_event_btn {
    width: 20rem;
    height: 5rem;
    font-size: var(--md);
    font-weight: bold;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--yellow-rig);
    color: var(--white);
    background-color: var(--dark-background);
    cursor: pointer;
}

#cancel_event_btn:active {
    background-color: var(--yellow-rig);
    border: 0.3rem solid var(--dark-background);
    color: var(--black);
}

#events_container h3 {
    margin-top: 2rem;
    padding-left: 1rem;
}

#events_container article p {
    margin-top: 1rem;
    padding-left: 1rem;
}

#events_container article a {
    text-decoration: none;
    color: var(--white);
}

#events_container article a {
    cursor: pointer;
}

@media (min-width: 1060px) {
    #events_container, #create-event-btn__container, .new-event__modal {
        width: 80rem;
    }

    #events_container article, .new-event__modal {
        width: 70rem;
    }

    .new-event__modal p {
        width: 40rem;
    }
}