#events_container, #create-event-btn__container {
    width: 28rem;
    margin: 0 auto;
    padding-top: 4rem;
    border-top: 0.15rem solid var(--light-gray);
}

#events_container article:not(:first-child) {
    margin-top: 4rem;
}

#events_container article {
    color: var(--white);
    border: 0.3rem solid var(--yellow-rig);
    border-radius: 0.5rem;
    padding: 1rem;
    width: 25rem;
    margin: 0 auto;
}

#create-event-btn__container {
    text-align: center;
    margin-top: 4rem;
}

#create_event_btn {
    width: 20rem;
    height: 5rem;
    font-size: var(--md);
    font-weight: bold;
    background-color: var(--yellow-rig);
    border-radius: 1rem;
    cursor: pointer;
}

#create_event_btn:active {
    background-color: var(--dark-background);
    border: 0.3rem solid var(--yellow-rig);
    color: var(--white);
}

#events_container h2 {
    background-color: var(--yellow-rig);
    border-radius: 0.5rem;
    color: var(--black);
    padding: 0.5rem;
    cursor: pointer;
}

#events_container h3 {
    margin-top: 2rem;
}

#events_container article p {
    margin-top: 2rem;
    color: var(--light-gray);
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#events_container article a {
    cursor: pointer;
    color: var(--light-gray);
    text-decoration: underline;
}

#events_container article span {
    justify-self: end;
    cursor: pointer;
    color: var(--yellow-rig);
}

@media (min-width: 1060px) {
    #events_container, #create-event-btn__container {
        width: 80rem;
    }

    #events_container article {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #events_container article {
        width: 70rem;
    }
}