#event-info_container, #current-report__container, .new-report-btn__container {
    width: 28rem;
    margin: 0 auto;
    padding-top: 4rem;
}

#event-info_container, .new-report-btn__container > p:first-child {
    border-top: 0.15rem solid var(--light-gray);
}

.new-report-btn__container p {
    text-align: center;
    margin-top: 2rem;
}

#event-info_container article:not(:first-child) {
    margin-top: 4rem;
}

#event-info_container article, #current-report__container table {
    color: var(--white);
    border: 0.3rem solid var(--yellow-rig);
    border-radius: 0.5rem;
    padding: 1rem;
}

#event-info_container article p {
    margin-top: 2rem;
    color: var(--light-gray);
}

#event-info_container article:first-child p:last-child {
    text-align: end;
}

#event-info_container article:first-child p:last-child button {
    width: 4.5rem;
}

#event-info_container article:nth-child(2) p {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#event-info_container article a {
    cursor: pointer;
    text-decoration: underline;
    color: var(--light-gray);
    display: inline;
}

#event-info_container article a:hover {
    color: var(--yellow-rig);
}

#event-info_container article span {
    justify-self: end;
    cursor: pointer;
    color: var(--yellow-rig);
}

table {
    background-color: var(--white);
    border-collapse: collapse;
    font-size: var(--ss);
}

table th, .last-row td:nth-child(2) {
    padding: 0.5rem;
    color: var(--black);
    text-align: center;
    border: 0.1rem solid var(--black);
    background-color: var(--yellow-rig);
}

.last-row td:not(:nth-child(2)) {
    border: none;
}

.code-column {
    text-align: center;
}

table td {
    padding: 0.5rem;
    color: var(--black);
    border: 0.1rem solid var(--black);
}

#create_new_report_btn {
    width: 20rem;
    height: 5rem;
    font-size: var(--md);
    font-weight: bold;
    background-color: var(--yellow-rig);
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 2rem;
}

#create_new_report_btn:active {
    background-color: var(--dark-background);
    border: 0.3rem solid var(--yellow-rig);
    color: var(--white);
}

@media (min-width: 1060px) {
    #event-info_container, #current-report__container, .new-report-btn__container {
        width: 80rem;
    }

    #event-info_container article {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #event-info_container article:nth-child(2) p {
        grid-template-columns: 2fr 7fr;
    }

    table {
        font-size: var(--md);
    }

    table td {
        padding: 1rem;
    }
}