.new-report__section {
    width: 60rem;
    margin: 0 auto;
    text-align: center;
}

.new-report__modal {
    width: 60rem;
    min-height: 10rem;
    color: var(--white);
    border: 0.3rem solid var(--yellow-rig);
    border-radius: 0.5rem;
    padding: 4rem 1rem;
    margin: 4rem auto 0;
}

.new-report__modal p {
    color: var(--white);
    margin: 1rem auto 0;
    width: 50rem;
}

.new-report__modal p select,.new-report__modal p input {
    height: 5rem;
    width: 20rem;
    margin-top: 1rem;
}

.new-report__modal .rows-btns__container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
}

#add_row, #delete_row {
    width: 5rem;
}

.new-report-table__container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/* .new-report-table__container table input {
    width: 5rem;
} */

.new-report-table__container table textarea {
    height: 10rem;
}

#cancel-event-btn__container {
    text-align: center;
    margin-top: 4rem;
}

#cancel_event_btn {
    width: 20rem;
    height: 5rem;
    font-size: var(--md);
    font-weight: bold;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--yellow-rig);
    color: var(--white);
    background-color: var(--dark-background);
    cursor: pointer;
}

#cancel_event_btn:active {
    background-color: var(--yellow-rig);
    border: 0.3rem solid var(--dark-background);
    color: var(--black);
}

@media (min-width: 1060px) {
    .new-report__section, .new-report__modal {
        width: 80rem;
    }

    .new-report__modal p  {
        width: 70rem;
    }

    .new-report-table__container table textarea {
        width: 40rem;
    }
}